.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
/twitter_auth.txt
/twitter_auth.csv
/twitter_thread.doc
/meetings/*
/reports/*.tex
/reports/daily_report.ttt
/reports/daily_report.fff
/reports/daily_report_files/*
/reports/r-references.bib
/git_auth.txt
/workflow/excess_mortality/src/corona_script_Brabant.R
/c19redteam_website/
/corrections/nice_correction-day.csv
/plots/municipal_plots/*
/workflow/twitter/token_*.R
!/workflow/twitter/token_*.dist.R
/raw-data-archive/*
/SignaalWaarde/*
*.log
debug.*
/workflow/twitter/gmailr.json*
.Renviron