.Rproj.user
.Rhistory
.RData
.Ruserdata
/twitter_auth.txt
/twitter_thread.doc
/meetings/*
/reports/daily_report.tex
/reports/daily_report.ttt
/reports/daily_report.fff
/reports/daily_report_files/*
/reports/r-references.bib
